@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 150%;
}

@media (max-width: 430px) {
  html {
    font-size: 120%;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.search__form {
  margin-bottom: 2rem;
}

.search__input {
  font-size: 1.2rem;
  font-family: "Space Grotesk", sans-serif;
  display: block;
  border: 1px solid black;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
}

.search__checkbox {
  transform: scale(1.5);
  margin: 0 0.8rem;
}

.table {
  width: 100%;
}

.table__heading {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 1.2rem 0 0.1rem 0;
}
